*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAD586;
    color: #fdf0d5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header{
    text-align: center;
    color: #282846;
}
h1, h2{
    font-family: 'Nova Mono', monospace;
}
p, li{
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}
section{
    background-color: #184D47;
    width: 55rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin: auto auto 10px;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #96BB7C;
}
.text-about{
    text-align: center;
}
.messageList, .experience-item, .link-item, .skillItem{
    list-style: circle inside;
    text-align: left;
}

label{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    justify-self: center;
    padding: 10px;
}
button{
    margin: 10px auto 10px auto;
    color: #282846;
    font-family: 'Nova Mono', monospace;
    background-color: #C64756;
    width: 15rem;
    height: 2rem;
    border: none;
    cursor: pointer;
}
input, textarea{
    width: 20rem;
    background-color: #EAFFD0;
}
input{
    height: 2.5rem;
    padding: 15px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer{
    background-color: #96BB7C;
    color: #007580;
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}
.nav-item{
    list-style: none;
    margin-right: 20px;
    padding: 10px;
}
.nav-list{
    display: flex;
    justify-content: flex-end;
}
.navbar{
	position: sticky;
    background-color: #96BB7C;
    width: 100%;
    top: 0;
}
.nav-link{
    color: #007580;
    padding: 10px;
}
.first-container{
    display: flex;
    margin: auto auto 10px;
    justify-content: center;
}
#experience, #skills{
    width: 27.3rem;
    margin: 3px;
}
.head-picture{
    margin: 20px auto 20px auto;
    border-radius: 50%;
}
.experience-item{
    display: flex;
    text-align: end;
}
span{
    margin: 3px;
    text-align: start;
}

@media (max-width: 411px){
    section{
    width: 20rem;
    padding: 15px;
    margin: auto auto 5px;
    }
    .first-container{
    flex-direction: column;
    margin: auto auto 10px;
    }
    #experience, #skills{
    width: 20rem;
    padding: 15px;
    margin: auto auto 5px;
    }
    input, textarea{
        width: 15rem;
        margin: 2px auto 2px auto;
    }
    button{
        margin: 7px auto 3px auto;
        width: 9rem;
    }
    .nav-item{
        margin-bottom: 4px;
        margin-right: 0;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 412px) and (max-width: 714px) {
    section{
    width: 20rem;
    padding: 15px;
    margin: auto auto 5px;
    }
    .first-container{
    flex-direction: column;
    margin: auto auto 10px;
    }
    #experience, #skills{
    width: 20rem;
    padding: 15px;
    margin: auto auto 5px;
    }
    input, textarea{
        width: 15rem;
        margin: 2px auto 2px auto;
        padding: 3px;
    }
    form{
        padding: 5px;
    }
    button{
        margin: 7px auto 3px auto;
        width: 11rem;
    }
    .nav-item{
        margin-bottom: 4px;
        margin-right: 0;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 715px) and (max-width: 980px) {
    section{
    width: 30rem;
    padding: 15px;
    margin: auto auto 5px;
    }
    .first-container{
    flex-direction: column;
    margin: auto auto 10px;
    }
    #experience, #skills{
    width: 30rem;
    padding: 15px;
    margin: auto auto 5px;
    }
    input, textarea{
        width: 25rem;
        margin: 2px auto 2px auto;
    }
    button{
        margin: 7px auto 3px auto;
        width: 12rem;
    }
    .nav-item{
        margin-bottom: 4px;
        margin-right: 0;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}